nav ul{
    list-style: none;
    display:flex;
    justify-content: space-between;
    padding: 60px 60px;

}
.section{
    text-align:center ;
    font-size: 65px;
    font-weight: bold;

}

.raleway-center {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/*button*/
.allbutton{
    font-size: 16px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#4E47FF;
    border-radius:10px ;
    padding: 12px 24px ;
    border:none;
    gap:20px;
   
}
/*header*/
.headerimg{
background-image: url("../Assets/Hero-bg.png");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
/*top left side logo*/

.inter-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.toplogo{
    font-size: 34px;
  
    color: blue;
    font-weight: bolder;


    
}
/*section*/

.section{
    padding:37px 0 200px 0;
}
