nav ul{
    list-style: none;
    display:flex;
    justify-content: space-between;
    padding: 60px 60px;

}
.section{
    text-align:center ;
    font-size: 65px;
    font-weight: bold;

}

.raleway-center {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/*button*/
.allbutton{
    font-size: 16px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#4E47FF;
    border-radius:10px ;
    padding: 12px 24px ;
    border:none;
    gap:20px;
   
}
/*header*/
.headerimg{
background-image: url("../Assets/Hero-bg.png");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
/*top left side logo*/

.inter-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.toplogo{
    font-size: 34px;
  
    color: blue;
    font-weight: bolder;


    
}
/*section*/

.section{
    padding:37px 0 200px 0;
}
/*main*/
.smain{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 48px;
    padding-left: 50px;
    padding-right:165px;
    padding-top: 50px;
}
.smain div{
    margin:20px;
    justify-content: center;
}

.image{
    width: 403px;px;
    height:328px;
    border-radius: 48px;

}
/*header 2nd*/
.shead{
    font-size:30px;
    font-weight:800px;
    color:#252432;
    


}
.para{
    font-size:18px;
    font-weight:400;
    color:rgba(37,36,50,0.5);

    


}
/*flex 2ndsection*/
.secsection{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:80px 50px;
    
    width:1100px;
    border-radius: 30px;
    background-color:#4E47FF1a;

    margin:60px;




}
.theader{
    font-size:25px;
    font-weight:Bold;
    
    text-align: center;
    transform: translateY(-50%);





    
    

}

/*container class*/
.container{
    display: flex;
    
    justify-content:space-between;
    
    
    


    
}
.container div{
    padding-left:50px;
    padding-right:50px;

}
/*container class data1 data2 data3 info*/
.main-title{
    font-size:80px;
    font-weight: bold;
    text-align: center;
    color:#4E47FF;
}
.sub-title{
    font-size:20;
    font-weight:400;
    color:#00000080;
}

/*joined thousands done*/
/*review section star*/
.profile {
    display: flex;
    align-items: center;
     gap: 10px;              /* Space between image and text */
    margin-top: 15px;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-info {
    display: flex;
    flex-direction: column; /* Stack name and date vertically */
    font-size: 12px;
    color: #666;
}
.profile-name {
    font-weight: bold;
    color: #333;
}

/* making the 4 reviews come side by side */
       
.reviewsection {
        padding:20px;
        
        text-align: center;
        width:1140px;
        box-sizing: border-box;
        padding-left: 100px;
        gap:50px

}
.reviewheader {
        font-size: 42px;
        margin-bottom: 40px;
        font-weight:bold;
        color:#252432;
        padding: 50;
    }
.review-container {
      display:flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap:20px;
      

      

}
.review-card {
      text-align: left;
      border-radius: 14px;
      box-sizing: border-box;
      padding:20px;
      margin-bottom: 20px;
      background-color:#eae7e780;

      


    }
.stars img {
        width: 20px;
        height: 20px;
    }
   .review-title {
        font-size: 18px;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .review-text {
        font-size: 14px;
        color: #555;
        margin-bottom: 15px;
    }
    /* making the 4 reviews come side by side er segment sesh */
     /* focus section shuru*/

     .focussection{
        display:flex;
        justify-content: center;
        text-align: center;
        padding: 20px;
        color:#FFFFFF;
        background-color: #FFFFFF;





     }
     .focussectioncontent{
        justify-content: center;
        
        padding:;
     }
     .focusheader{
        font-size: 50px;
        font-weight:bold ;
        color:#000000;
     }
     .fsubhead{
        font-size: ;
        font-weight: ;
        color:#00000080;
        width: 487;
        height:22;


     }
     .gbutton{
        margin-bottom: 20px;


     }
     .bimage{
        border-radius:48px ;
     }

     /*READY TO FOCUS PART SESH*/
     /*form part*/
     .formsection{
        width:1140px;
        height:632px;
        margin:0 auto;
        display:flex;
        gap:40px;
        padding 40px;
        box-sizing:border-box;
        
        border-radius: 20px;
     }
     .formheader{
        font-size: 97px;
        flex: 1;
        display:flex;
        flex-direction:column;
        justify-content:center;
        padding:20px;

     }
     .contact-form{
        flex: 1;
        display:flex;
        flex-direction:column;
        gap:20px;
        padding:20px;
        border-radius: 12px;
        height:490px;
        width:497px;
        box-sizing:border-box;
     }
.label{
    font-size: 18px;
    font-weight: 500;

}
.mbox{
    min-height: 130px;
    background-color: #FFFFFF;
}
.ebox{
     background-color: #FFFFFF;
}
/*form part sesh*/



.foot{
    height: 428px;
    width:1440px;
    background-color: #FFFFFF;
   
    text-align: center;
    
}
.footerlinks{
    list-style: none;
    padding: 0;
    margin:20px 0 0 0;
    display:flex;
    justify-content: center;
    gap: 30px;
    color:#8987A1;

}
.logo{
    font-size:100px ;
    font-weight: bolder;
    color: #4E47FF;
   
}
.lastmessage{
    color:#8987A1;
    font-size: ;
    font-weight: ;
}
.footerlinks li a{
    text-decoration: none;
    color:#8987A1;


}

/*footer part sesh*/
/*project done Alhamdulillah*/
